[project]
name = "bapctools"
version = "0.0.0"
dependencies = [
    "pyyaml",
    "colorama",
    "argcomplete; platform_system != 'Windows'",
    "python-dateutil",
    "ruamel.yaml",
    "matplotlib",
    "requests",
    "questionary",
]
requires-python = ">=3.10"

[project.optional-dependencies]
dev = [
    "pytest",
]

[project.scripts]
bt = "bapctools.cli:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
line-length = 100

[tool.ruff.lint.isort]
# organize imports in two blocks, non local and local
section-order = ["standard-library", "first-party"]
default-section = "standard-library"
# X,y,Z case insensitive in from ? import X, y, Z
order-by-type = false

[tool.pyright]
include = ["bapctools"]
exclude = ["bapctools/resources"]
