[project]
name = "bapctools"
version = "0.0.0"
dependencies = [
    "pyyaml",
    "colorama",
    "argcomplete",
    "python-dateutil",
]

[project.optional-dependencies]
update-yaml = ["ruamel.yaml"]
solve-stats = ["matplotlib"]
domjudge = ["requests"]
new = ["questionary"]

[project.scripts]
bt = "bapctools.tools:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
# Line length 100
line-length = 100
# Assume Python 3.10
target-version = "py310"
# Source
src = ["bin"]

[tool.ruff.lint.isort]
# organize imports in two blocks, non local and local
section-order = ["standard-library", "first-party"]
default-section = "standard-library"
# X,y,Z case insensitive in from ? import X, y, Z
order-by-type = false

[tool.pyright]
include = ["bin"]
exclude = ["bin/misc"]
executionEnvironments = [
  { root = "bin" },
]
